@import url('https://fonts.googleapis.com/css2?family=Itim&family=Mitr:wght@200;300;400;500;600;700&family=Noto+Sans+Thai:wght@100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: light :[#F2EBBF];
}


body {
  background: #F2EBBF ;
  color: #5C4B51
}


/* font - หัวข้อ mitr / คอนเท้น noto / บับเบิ้ลแชต&น่ารัก ๆ itim */

.toReceive {
  color: #8CBEB2;
  font-weight: bold;
}

.toPay{
  color: #F06060;
  font-weight: bold;
}

h1{
  font-family: 'Mitr', sans-serif;
}

.mitr {
  font-family: 'Mitr', sans-serif;
}

.noto {
  font-family: 'Noto Sans Thai', sans-serif;
}

.itim {
  font-family: 'Itim', cursive;
}

.slide-hover-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(225, 146, 27);
  opacity: 10%;
  z-index: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.8s cubic-bezier(.6,1.7,.66,.97);
  border-radius: 0.5rem;
}
.slide-hover-btn:hover::before {
  transform: scaleX(1);
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 9999px;
  border: 2px solid #fff;
  display: inline-block;
}
.status-accent {
  background: #8CBEB2;
}
.status-neutral {
  background: #ccc;
}